* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 16px;
}

.border, button {
    border: 1px solid;
    border-radius: 16px;
}

#container {
    width: 400px;
    margin: auto;
}

#calculator {
    padding: 8px;
}

.display {
    font-size: 1.5em;
    text-align: right;
    padding: 16px;
}

.button-container {
    margin-top: 8px;
    display: flex;
}