* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 16px;
}

.border, button {
    border: 1px solid;
    border-radius: 16px;
}

#container {
    width: 300px;
    margin: auto;
}

#calculator {
    padding: 8px;
}

.display {
    height: 130px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 64px 8px 0;
}

.button-container {
    display: flex;
    padding: 14px 6px 6px;
    gap: 8px;
}

.operator-buttons {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.num-buttons > button {
    flex: auto;
}

.num-buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

button {
    font-size: 1.5em;
    width: 50px;
    padding: 8px;
    background-color: inherit;
}

button:hover {
    border: 2px solid;
}

button[id="del"] {
    font-size: 1.2em;
    padding: 11px 0 11px;
}

button[id="clear"] {
    color: #e00;
    background-color: #e003;
}

button[id="="] {
    color: #00a;
    background-color: #00a3;
}
