* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 16px;
}

.border, button {
    border: 1px solid;
    border-radius: 16px;
}

#container {
    width: 300px;
    margin: auto;
}

#calculator {
    padding: 8px;
}

.display {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 64px 8px 16px;
}

.button-container {
    margin: 8px auto;
    width: 90%;
    display: flex;
    padding: 8px;
    gap: 8px;
}

.operator-buttons {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.num-buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

button {
    font-size: 1.5em;
    width: 50px;
    padding: 8px;
    background-color: inherit;
}

button[id="clear"] {
    color: #e00;
    background-color: #e003;
}

button[id="="] {
    color: #00a;
    background-color: #00a3;
}
